/* Centramos contenido del quiz */
body {
  border: 1px solid rgb(235, 238, 56);
  display: flex;
  justify-content: center;
}
.body-container {
  border: 1px solid rgb(48, 36, 219);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  border: 1px solid rgb(219, 36, 158);
}
.options-container {
  border: 1px solid rgb(66, 219, 36);
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options {
  border: 1px solid rgb(36, 198, 219);
  width: 150px;
  text-align: center;
}
.btn-send {
  border: 1px solid rgb(209, 84, 182);
}
.btn-next {
  border: 1px solid rgb(84, 190, 209);
}
